@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .parallax-layer {
    will-change: transform;
    transform-style: preserve-3d;
  }
}

h2 {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}