@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: 'Barlow', sans-serif;
}

body {
  overflow-x: hidden;
}



@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@layer utilities {
  .parallax-layer {
    will-change: transform;
    transform-style: preserve-3d;
  }
}

.cloneable {
  padding: var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  position: relative;
}


.parallax__fade {
  --color-dark-rgb: 0, 0, 0;
	background: linear-gradient(to top, rgba(var(--color-dark-rgb), 1) 0%, rgba(var(--color-dark-rgb), 0.738) 19%, rgba(var(--color-dark-rgb), 0.541) 34%, rgba(var(--color-dark-rgb), 0.382) 47%, rgba(var(--color-dark-rgb), 0.278) 56.5%, rgba(var(--color-dark-rgb), 0.194) 65%, rgba(var(--color-dark-rgb), 0.126) 73%, rgba(var(--color-dark-rgb), 0.075) 80.2%, rgba(var(--color-dark-rgb), 0.042) 86.1%, rgba(var(--color-dark-rgb), 0.021) 91%, rgba(var(--color-dark-rgb), 0.008) 95.2%, rgba(var(--color-dark-rgb), 0.002) 98.2%, transparent 100%);
}



.parallax {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.parallax__content {
  padding: var(--section-padding) var(--container-padding);
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  display: flex;
  position: relative;
}

.cover {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__visuals {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 120%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__placeholder {
  z-index: 0;
  opacity: 0;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__layers {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.cover-copy {
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.parallax__fade {
  z-index: 30;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 20%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.parallax__black-line-overflow {
  z-index: 20;
  background-color: var(--color-black);
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}



.parallax__radial-gradient {
  z-index: 10;
  background-images: radial-gradient(circle farthest-corner at 50% 50%, transparent, var(--color-black));
  opacity: .5;
  pointer-events: none;
  mix-blend-mode: multiply;
  position: fixed;
  inset: 0;
}

.parallax__layer-title {
  justify-content: center;
  align-items: baseline;
  width: 100%;
  height: 90svh;
  display: flex;
  position: absolute;
  top: 100px;
  left: 0px;
}

.parallax__layer-img {
  pointer-events: none;
  object-fit: cover;
  width: 100%;
  max-width: none;
  height: 117.5%;
  position: absolute;
  top: -17.5%;
  left: 0;
}

.parallax__layer-img.is-third {
  top: -20%;
}
/* Add this to your existing CSS */

.cards-container {
  justify-content: center;
  align-items:center;
  list-style: none;
  padding: 10%;
}

.card {
  position: sticky;
  top: 0;
  padding: 0px;
  border-radius: 10px;
  background-color: rgba(5, 1, 27, 0.786);
  margin-bottom: 20px;
  min-width: 50px;}

.card__content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

@media (min-width: 368px) {
  .card__content {
    flex-direction: column;


  }

  .card__content > div {
    flex: 1;
  }

  .card__content figure {
    flex: 1;
  }
}

.skills {
  padding: 40px;
  background-color: #f9f9f9;
}

.skill-header {
  font-size: 2em;
  text-align: center;
  margin-bottom: 20px;
}

.skills-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.first-set, .second-set {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.icon-card {
  width: 100px;
  height: 100px;  body, html, #app {
    margin: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(0,0,0,0.5) 200%);
  }
  
  #app {
    position: relative;
    height: 100%;
    font-family: "Montserrat", serif;
  }
  
  .hero {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  h1, h2 {
    margin: 0;
    padding: 0;
    color: black;
    text-transform: uppercase;
    text-shadow: 0 0 20px rgba(255, 255, 255, 1);
    line-height: 100%;
    user-select: none;
  }
  
  h1 {
    position: relative;
    z-index: 2;
    font-size: 100px;
    font-weight: 700;
  }
  
  h2 {
    font-size: 80px;
    font-weight: 500;
  }
  
  #webgl-canvas {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
  }
  
  .buttons {
    position: fixed;
    width: 100%;
    bottom: 15px;
    z-index: 2;
  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  button {
    font-family: "Montserrat", serif;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    border: 1px solid grey;
    padding: 4px 8px;
  }
  transition: transform 0.3s;
}

.icon-card:hover {
  transform: scale(1.1);
}


.about-section {
margin-top:20%;
margin-bottom: 20%;
margin-left: 10%;
  justify-content: center;
  align-items: center;
  width: 80%;
  color: #f0f0f0; /* Color de fondo para verificar la visibilidad */
  padding: 20px;
  text-Shadow: 1px 1px 2px white, 0 0 1em blue, 0 0 0.2em blue;
}
.will-change-opacity {
  will-change: opacity;
  transition: opacity 0.3s ease-in-out;
}


@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
